
.normal {
  font-family: Georgia, sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.login {
  width: 400px;
  height: 600px;
}

.loginButton{
  width: 100%;
}